div.product {
  width: inherit;
  padding: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

p.product-name {
  font-weight: lighter;
  font-size: 1.4em;
}

p.product-price {
  font-size: 1.2em;
  font-weight: 400;
}

p.product-desc {
  font-size: 1.1em;
  font-weight: lighter;
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.variants-count {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  user-select: none;
}

.variants-count .variants-label {
  background-color: #0245BE;
}

.collapsible-arrow {
  color: #0245BE;
  float: right;
}

table.variant-list {
  display: none;
  font-size: 0.9em;
  border-collapse: collapse;
  width: inherit;
  margin-top: 1rem;
  user-select: none;
}

table.variant-list.expand {
  display: table;
  height: auto;
}

table.variant-list tr {
  border-top: 1pt solid #eee;
  border-bottom: 1pt solid #eee;
}

table.variant-list td {
  padding: 0.6rem 0;
  vertical-align: text-top;
}
table.variant-list td.variant-title {
  text-align: left;
}
table.variant-list td.variant-price {
  text-align: right;
}